* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
    color: var(--dark-color);
}

header {
    text-align: center;
}

img {
    max-height: 100%;
    max-width: 100%;
}

h1, h2, h3, h4 {

}

.hidden {
    display: none;
}

.searchBar {
    width: 80%;
    border-radius: 5px;
    text-align: center;
}

.btn {
    background-color: var(--dark-grey);
    color: var(--beige);
    width: 50%;
    height: 50%;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

/* style divs */

#artDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#infoDiv {
    text-align: center;
    width: 80%;
}

/*

#musicDiv {
}

.btn {

} */ 

@media screen and (min-width: 640px) {

}


/* Media query max-size 1200px */

.btn:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

:root {
    --light-color: white;
    --beige: rgb(234, 239, 211);;
    --light-blue: rgb(50, 132, 255);
    --dark-blue: rgb(33, 0, 196);
    --dark-grey: rgb(60, 55, 86);
    --dark-color: black;
}
