* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
    color: var(--dark-color);
    padding-top: 3em;
    /* background-color: var(--dark-grey); */
}

header {
    text-align: center;
}

img {
    max-height: 80%;
    max-width: 80%;
    transition: transform .5s;
}

h1 {
    font-weight: bold;
    font-size: 16px;
}

.hidden {
    display: none;
}

.description {
    font-size: 12px;
    line-height: 1.5;
    font-style: italic;
    padding-bottom: 10px;
}

.searchBar {
    width: 100%;
    border-radius: 5px;
    text-align: center;
    font-style: italic;
    color: var(--dark-color);
    margin: 10px 10px 0 10px;
}

.btn {
    background-color: var(--dark-grey);
    color: var(--beige);
    width: 80%;
    height: 50%;
    line-height: 1.5;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

#artSearchBtn, #musicSearchBtn {
    margin: 0;
    padding: 0;
}

/* .card-panel {
} */

#artDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#infoDiv {
    text-align: center;
    width: 80%;
}

#musicDiv p {
    padding-bottom: 10px;
}

#artSearchBtn, #musicSearchBtn {
    opacity: 0;
    height: 1px;
    width: 1px;
}

.appName {
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
}

.btn:hover {
    font-size: 10px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

img:hover {
    transform: scale(1.5);
    cursor: pointer;
    /* only blow up when on-click for larger than mobile phone size. */
}

/* media query for tablet size */

@media screen and (max-width: 768px) {

}


/* Media query for laptop size */

@media screen and (max-width: 1200px) {

}

/* Media query for desktop size */

@media screen and (max-width: 1600px) {

}

:root {
    --light-color: white;
    --beige: rgb(234, 239, 211);;
    --light-blue: rgb(195, 217, 250);
    --dark-blue: rgb(33, 0, 196);
    --dark-grey: rgb(60, 55, 86);
    --dark-color: black;
}
